<!------- Container Fluid start ------->
<div class="container-fluid">
  <!------- Content area start ------->
  <div class="layout-specing">
    <!------- Page heading and breadcrumb ------->
    <div class="d-md-flex justify-content-between">
      <!------- Page heading ------->
      <h5 class="mb-0">Patients List</h5>

      <!------- Page breadcrumb ------->
      <nav class="d-inline-block mt-4 mt-sm-0">
        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
          <li class="breadcrumb-item">
            <a href="dashboard.html">Telimedicine</a>
          </li>
          <li class="breadcrumb-item active">All Patients</li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="col-12 mt-4">
        <div class="table-responsive bg-white shadow rounded">
          <table class="table mb-0 table-center text-center">
            <thead class="text-center">
              <tr>
                <th class="border-bottom p-3" style="min-width: 100px">
                  Patient
                </th>

                <th class="border-bottom p-3">Age</th>

                <th class="border-bottom p-3">Gender</th>

                <th class="border-bottom p-3">Mobile</th>

                <th class="border-bottom p-3">Address</th>

                <th class="border-bottom p-3">Department</th>

                <th class="border-bottom p-3" style="min-width: 150px">Date</th>

                <th class="border-bottom p-3">Time</th>

                <th class="border-bottom p-3" style="min-width: 100px">
                  Doctor
                </th>

                <th class="border-bottom p-3" style="min-width: 100px">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="text-center">
              <tr>
                <td class="p-3">
                  <a href="#" class="text-dark"> Ramraj </a>
                </td>

                <td class="p-3">25</td>

                <td class="p-3">Male</td>

                <td class="p-3">(+452) 8945 4568</td>

                <td class="p-3">1451 - ABC Street, Saudi arebia</td>

                <td class="p-3">Cardiology</td>

                <td class="p-3">02/03/2023</td>

                <td class="p-3">11:00AM</td>

                <td class="p-3">
                  <a href="#" class="text-dark"> Dr. Jasmin Ali </a>
                </td>

                <td class="p-3">
                  <!------- View button ------->
                  <a
                    href="patient_profile.html"
                    class="btn btn-icon btn-pills btn-soft-primary"
                  >
                    <i class="fa-regular fa-eye"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!------- Content area end ------->
</div>
<!------- Container Fluid end ------->
