
<div id="main" class="page-wrapper doctris-theme toggled">
    
    <!------- Siderbar start ------->
    <app-sidebar></app-sidebar>
    <!------- Siderbar end ------->

    <!------- Page main content area start ------->
    <section class="page-content bg-white">
    <!------- Admin top navigator header start ------->
    <app-navbar></app-navbar>
    <!------- Admin top navigator header end ------->
    

    <!------- Container Fluid start ------->
        <router-outlet></router-outlet>
    <!------- Container Fluid end ------->
    </section>
    <!------- Page main content area end ------->
</div>






