.btnbox{
  background-color: #eaeaff ;
  /* padding: 6px 12px; */
  border-radius: 25px;
  transition: all 0.3s ease;

}

.btnbox :hover{
  background-color: #396cf0e6;
  /* color:blue; */
  /* background color is not applaying properly  */
}


/* ====  work same as .btnbox :hover*/
/* a.btn.btn-icon.btn-pills.btn-soft-primary.btnbox :hover{
  background-color: #396cf0e6;
  color:white;
} */


/* :hover {background: blue} ===> ye work nahi kr raga hai  */ 