<!------- Admin top navigator header start ------->
<div class="top-header">
  <div class="header-bar d-flex justify-content-between border-bottom">
    <div class="d-flex align-items-center">
      <a href="#" class="logo-icon">
        <img src="photos/logo-icon.png" height="30" class="small" alt="" />

        <span class="big">
          <img
            src="photos/logo-dark.png"
            height="22"
            class="logo-light-mode"
            alt=""
          />
          <img
            src="photos/logo-light.png"
            height="22"
            class="logo-dark-mode"
            alt=""
          />
        </span>
      </a>

      <a
        id="close-sidebar"
        class="btn btn-icon btn-pills btn-soft-primary ms-2"
        href="#"
      >
        <i class="fa-solid fa-bars"></i>
      </a>

      <!------- Top header search bar ------->
      <div class="search-bar p-0 d-none d-lg-block ms-2">
        <div id="search" class="menu-search mb-0">
          <form role="search" method="get" id="searchform" class="searchform">
            <div>
              <input
                type="text"
                class="form-control border rounded-pill"
                name="s"
                id="s"
                placeholder="Search Keywords..."
              />

              <input
                type="submit"
                class="d-none"
                id="searchsubmit"
                value="Search"
              />

              <label for="searchsubmit" style="cursor: pointer">
                <i class="fa-solid fa-magnifying-glass"></i>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <ul class="list-unstyled mb-0">
      <!------- Messages dropdown ------->
      <li class="list-inline-item mb-0 me-3">
        <div class="dropdown dropdown-primary">
          <button
            type="button"
            class="btn btn-icon btn-pills btn-soft-primary dropdown-toggle p-0"
            data-bs-toggle="dropdown"
          >
            <i class="fa-regular fa-envelope"></i>
          </button>

          <!------- Message count badge ------->
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            4
          </span>

          <!------- Message list dropdown ------->
          <div
            class="dropdown-menu dd-menu dropdown-menu-end shadow rounded border-0 mt-3 px-2 py-2"
            data-simplebar
            style="height: 320px; width: 300px"
          >
            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="photos/client/02.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  You received a new message from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="photos/client/03.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  You received a new message from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="photos/client/06.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  You received a new message from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  You received a new message from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXSTblEVkkdJh15jlAbC3FpvuzCKb1o-pQQA&usqp=CAU"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  You received a new message from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="https://media.istockphoto.com/id/1218980856/photo/young-woman-drinking-coffee-and-texting.jpg?s=170667a&w=0&k=20&c=YG3h0R4qnfbEb17SX5Od4lfxle2J91Dtryv4680ytpE="
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  You received a new message from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>
          </div>
        </div>
      </li>

      <!------- Notification dropdown ------->
      <li class="list-inline-item mb-0 me-3">
        <div class="dropdown dropdown-primary">
          <button
            type="button"
            class="btn btn-icon btn-pills btn-soft-primary dropdown-toggle p-0"
            data-bs-toggle="dropdown"
          >
            <i class="fa-regular fa-bell"></i>
          </button>

          <!------- Message count badge ------->
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            4
          </span>

          <!------- Message list dropdown ------->
          <div
            class="dropdown-menu dd-menu dropdown-menu-end shadow rounded border-0 mt-3 px-2 py-2"
            data-simplebar
            style="height: 320px; width: 300px"
          >
            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="photos/client/02.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  An appointment is booked by patient <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="photos/client/03.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  Two new Reports are uploded of patient <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="photos/client/06.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  <b>Dr. Ahmad Habeeb</b> Changes his consulting fee
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  Got a new notification from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXSTblEVkkdJh15jlAbC3FpvuzCKb1o-pQQA&usqp=CAU"
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  Got a new notification from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>

            <!------- Message breif details box ------->
            <a
              href="#!"
              class="d-flex align-items-center justify-content-between py-2"
            >
              <div class="d-inline-flex position-relative overflow-hidden">
                <img
                  src="https://media.istockphoto.com/id/1218980856/photo/young-woman-drinking-coffee-and-texting.jpg?s=170667a&w=0&k=20&c=YG3h0R4qnfbEb17SX5Od4lfxle2J91Dtryv4680ytpE="
                  class="avatar avatar-md-sm rounded-circle shadow"
                  alt=""
                />

                <small class="text-dark mb-0 d-block text-truncat ms-3">
                  Got a new notification from <b>Arisfa Khan</b>
                  <small class="text-muted fw-normal d-inline-block">
                    1 hour ago
                  </small>
                </small>
              </div>
            </a>
          </div>
        </div>
      </li>

      <!------- Profile options dropdown ------->
      <li class="list-inline-item mb-0">
        <div class="dropdown dropdown-primary">
          <button
            type="button"
            class="btn btn-pills btn-soft-primary dropdown-toggle p-0"
            data-bs-toggle="dropdown"
          >
            <img
              src="photos/doctors/01.jpg"
              class="avatar avatar-ex-small rounded-circle"
              alt=""
            />
          </button>

          <div
            class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3"
            style="min-width: 200px"
          >
            <a class="dropdown-item text-dark" href="index.html">
              <span class="mb-0 d-inline-block me-1">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </span>
              Logout
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!------- Admin top navigator header end ------->
